<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241487483760-552i39a3m10kpqls9p2h67tq2lrc56mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241487483760-552i39a3m10kpqls9p2h67tq2lrc56mq</string>
	<key>API_KEY</key>
	<string>AIzaSyD2YKIcnkVr3bALrhmcji00OeS4PZbNX-4</string>
	<key>GCM_SENDER_ID</key>
	<string>241487483760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.taxidriver.takiBookingDriver</string>
	<key>PROJECT_ID</key>
	<string>torrey-f2904</string>
	<key>STORAGE_BUCKET</key>
	<string>torrey-f2904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241487483760:ios:22d5bce320eacd7e82f5b5</string>
</dict>
</plist>